/* https://material.io/color/#!/?view.left=0&view.right=0&secondary.color=2962ff&primary.color=29B6F6 */
*
{
  box-sizing: border-box;
}
body
{
  margin: 0;
  padding: 0;
}
.ph-container
{
  width:100%;
  height: auto;
}
.ph-heading
{
  width:100%;
  display: flex;
  height: 75px;
}
.ph-heading-text
{
  width:150px;
  font-family: 'Grand Hotel', cursive;
  color:black;
  font-size: 32px;
  margin-top: 18px;
  margin-left: 34px;
  animation: going 1s;
}
@keyframes going {
  0%
  {
    margin-left: 0;
  }
  100%
  {
    margin-left: 34px;
  }
}
.ph-heading-text:hover
{
  width:50px;
  color:grey;
  transition-property: color;
  transition-duration: 1s;
  transition-timing-function: ease-in;
}
.ph-sidebar
{

  height: auto;
  display: inline-block;
  margin-left: auto;
  margin-top: 12px;
  margin-right: 40px;
}

.ph-sidebar-searchbutton
{
  width:60px;
  height: 60px;
  border: none;
  background-color: white;
}
.ph-sidebar-searchbutton:hover
{
  background-color: silver;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 1s;
}
button
{
  outline-style: none;
}
.ph-sidebar-helpbutton
{
  width:60px;
  height: 60px;
  border: none;
  background-color: white;
}
.ph-sidebar-helpbutton:hover
{
  background-color: silver;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 1s;
}
.ph-sidebar-feedbackbutton
{
  width:60px;
  height: 60px;
  border: none;
  background-color: white;
}
.ph-sidebar-feedbackbutton:hover
{
  background-color: silver;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 1s;
}
.ph-sidebar-eventbutton
{
  width:60px;
  height: 60px;
  border: none;
  background-color: white;
}
.ph-sidebar-eventbutton:hover
{
  background-color: silver;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 1s;
}
#search
{
  width: 100%;
  height: 500px;
  margin-top: -40px;
  display: none;
}
.search-main
{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#search-result
{
  font-family: roboto;
  font-size: 20px;
}
.ph-navbar
{
  margin-top: 10px;
  width: 100%;
  height: 50px;
  background-color: #2962ff;
  box-shadow: 0px 2px 5px 0px grey;
}
.ph-navbar-main
{
  width:310px;
  height: 50px;
  display: inline-block;
}
.ph-navbar-line
{
  width:100px;
  height: 2px;
  background-color: white;
  border: none;
}
.ph-navbar-home
{
  width:100px;
  height: 48px;
  background-color: #2962ff;
  color:white;
  border:none;
  font-family: roboto;
  font-size: 15px;
}
.ph-navbar-signin
{
  width:100px;
  height: 48px;
  background-color: #2962ff;
  color:white;
  border:none;
  font-family: roboto;
  font-size: 15px;
  padding-left: 0px;
}
.ph-navbar-signup
{
  width:100px;
  height: 48px;
  background-color: #2962ff;
  color:white;
  border:none;
  font-family: roboto;
  font-size: 15px
}
.ph-searchbar
{
  visibility: hidden;
  position: relative;
  top:-132px;
  width: 100%;
  height: 75px;
  display: flex;
  background-color: white;
  box-shadow: 0px 2px 5px 0px grey;
}
.ph-searchbar-text
{
  width:150px;
  font-family: 'Grand Hotel', cursive;
  color:black;
  font-size: 32px;
  margin-top: 16px;
  margin-left: 34px;
  animation: going 1s;
}
.ph-searchbar-outer
{
  width: 600px;
  margin-left: 150px;
  margin-top: 11px;
  height: 50px;
  background-color: white;
}
.ph-open-searchbutton
{
  width:50px;
  height: 50px;
  border: none;
  background-color: white;
}
.ph-open-searchbar
{
  width: 490px;
  height: 50px;
  border: none;
  background-color: white;
  font-family: roboto;
  position: relative;
  top:-6px;
  left:10px;
  font-family: arial, roboto;
  outline-style: none;
  font-size: 18px;
}
.ph-close-button
{
  width: 50px;
  height: 50px;
  border: none;
  background-color: white;
  outline-style: none;
}
.ph-feedback
{
  width: 100%;
  height: auto;
  visibility: hidden;
}
.ph-feedback-main
{
  position: fixed;
  top:330px;
  width: 420px;
  height: 600px;
  display: block;
  background-color: white;
  left:50%;
  right: 50%;
  transform: translate(-50%,-50%);
  border: none;
  box-shadow: 0px 2px 5px 0px grey;
}

.ph-feedback-header
{
  width: 100%;
  height: 70px;
  background-color: #29B6e0;
  display: flex;

}
.ph-feedback-header-text
{
  margin-left: 20px;
  margin-top: 20px;
  font-family: roboto;
  font-size: 22px;
}
.ph-feedback-closebutton
{
  width:50px;
  height: 50px;
  background: transparent;
  border:none;
  margin-left: auto;
  margin-top:10px;
  margin-right: 15px;
}

.ph-feedback-closebutton:hover
{
  border-radius: 50%;
  background-color: silver;
}
.ph-feedback-data
{
  width: 100%;
  display:block;
  height: auto;
}
.ph-feedback-data-headerbar
{
  width: 100%;
  height: 50px;
  border: none;
  background-color: white;
  outline-style: none;
  font-family: sans-serif;
  font-size: 17px;
  padding-left: 10px;
  font-weight: 300;
  border-bottom: 1px solid silver;
}
.ph-feedback-description
{
  padding-top: 10px;
  width: 100%;
  height: 300px;
  border: none;
  background-color: white;
  outline-style: none;
  font-family: sans-serif;
  font-size: 17px;
  padding-left: 10px;
  font-weight: 300;
}
.ph-feedback-submit-button
{
width: 120px;
height: 40px;
border-radius: 2px;
background: #29B6e0;
color:black;
border:none;
margin-left: 60%;
box-shadow: 0px 1px 2px 0px grey;
margin-top: 30px;
font-family: roboto;
font-size: 14px;
color:white;
}
.ph-feedback-submit-button:hover
{
  color:white;
  background: #2962ff;
  box-shadow: 0px 2px 10px 0px grey;
  transition-property: all;
  transition-duration: 1s;
}
.ph-feedback-TAC
{
  width: 100%;
  height: auto;
  display: block;
}
.ph-feedback-TAC-inner
{
margin-top: 40px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.ph-feedback-TAC-main
{
  font-family: sans-serif;
  color:grey;
  font-size: 14px;
}
.ph-feedback-TAC-main > a
{
  text-decoration: none;
}
#ph-home
{
  width: 100%;
  height: auto;
  display: block;
}
.ph-home-first-image
{
  margin-left: auto;
}
.ph-home-first
{
  width: 90%;
  height: auto;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.ph-home-first-description
{
  font-family: roboto;
  font-size: 24px;
  color:black;
  margin-top: -20px;
  width:400px;
  padding-top: 100px;
  animation: shoe 1s;
}
@keyframes shoe {
  0%
  {
    margin-left: -500px;
  }
  100%
  {

  }
}
@media screen and (max-width:1050px) and (min-width:941px){
  .ph-home-first
  {
    width:900px;
  }
  .ph-home-first-description
  {
    width:450px;
    font-size: 20px;
  }
}
@media screen and (max-width:940px) and (min-width:821px){
  .ph-home-first
  {
    width:800px;
  }
  .ph-home-first-description
  {
    width:450px;
    font-size: 20px;
  }

}
@media screen and (max-width:820px) and(min-width:426px) {
  .ph-home-first
  {
    width:100%;
    display: flex;
    flex-wrap: wrap;
  }
  .ph-home-first-image
  {
    position: relative;
    top:-150px;
    index:1;
    max-width:400px;
    margin-left: auto;
    margin-right: auto;
  }
  .ph-home-first-description
  {
    position: relative;
    top:300px;
    width:90%;
    margin-left: auto;
    font-size: 18px;
    margin-right: auto;
  }
}
/* BUG-1 : NOT SET viewport lessthan 400px */
@media screen and (max-width:625px) and (min-width:381px) {
  .ph-home-first
  {
    width:100%;
    display: flex;
    flex-wrap: wrap;
  }
  .ph-home-first-image
  {
    position: relative;
    top:-150px;
    index:1;
    max-width:400px;
    margin-left: auto;
    margin-right: auto;
  }
  .ph-home-first-description
  {
    position: relative;
    top:300px;
    width:90%;
    margin-left: auto;
    font-size: 18px;
    margin-right: auto;
  }
}
@media screen and (max-width:380px)  {
  .ph-home-first
  {
    width:100%;
    display: flex;
    flex-wrap: wrap;
  }
  .ph-home-first-image
  {
    position: relative;
    top:-150px;
    index:1;
    max-width:300px;
    height: 210px;
    margin-left: auto;
    margin-right: auto;
  }
  .ph-home-first-description
  {
    position: relative;
    top:300px;
    width:90%;
    margin-left: auto;
    font-size: 18px;
    margin-right: auto;
  }
}
body
{
  overflow-x: hidden;
}
.ph-features-main
{
  width: 100%;
display: block;
}
.ph-features-image
{
position: relative;
left:50%;
right:-50%;
transform: translate(-50%,-50%);
top:300px;
  width:400px;

}
.ph-features-line
{
  position: relative;
  top:220px;
  left:50px;
  width:250px;
  height: 2px;
  background-color: #4285F4;
  animation: goto 1s;
}
@keyframes goto {
  0%
  {
    width: 0px;
  }
  100%
  {
    width: 250px;
  }
}
.ph-features-heading
{
  width:300px;
  font-size: 30px;
  font-family: calibri;
  font-weight: lighter;
  position: relative;
  top:200px;
  left:50px;
  font-style: italic;

}
.ph-facility-line
{
position: relative;
top:12px;
width:150px;
height: 2px;
background-color: #FBBC05;
animation: second 1s;
}
@keyframes second {
  0%
  {
    width:0px;
  }
  100%
  {
    width:150px;
  }
}
.ph-features-security:hover
{
background-color: silver;
border-radius: 2px;
}
.ph-features-security
{
  border:none;
  width:200px;
  height: 50px;
  background-color: white;
color:black;
  position: relative;
  left:100px;
  top:450px;
  font-family:roboto;
  font-size: 20px;
animation: security 1s;
}
@keyframes security {
  0%
  {
    left:-999px
  }
  100%
  {
    left:100px;
  }
}
.ph-features-intigrity:hover
{
background-color: silver;
border-radius: 2px;
}
.ph-features-intigrity
{
  border:none;
  width:200px;
  height: 50px;
  background-color: white;
color:black;
  position: relative;
  left:200px;
  top:400px;
  font-family:roboto;
  font-size: 20px;
  animation: intigrity 2s;

}

@keyframes intigrity {
  0%
  {
    left:-999px;
  }
  100%
  {
    left:200px;
  }
}
.ph-features-encryption:hover
{
background-color: silver;
border-radius: 2px;
}
.ph-features-encryption
{
  border:none;
  width:200px;
  height: 50px;
  background-color: white;
color:black;
  position: relative;
  left:1050px;
  top:350px;
  font-family:roboto;
  font-size: 20px;
  animation: encryption 3s;
}
@keyframes encryption {
  0%
  {
    left:1999px;
  }
  100%
  {
    left:1050px;
  }
}
.ph-features-speed
{
  width:100px;
  border:none;
  height: 50px;
  background-color: white;
color:black;
  position: relative;
  left:1200px;
  top:400px;
  font-family:roboto;
  font-size: 20px;
  animation:speed 4s;
}
.ph-features-speed:hover
{
background-color: silver;
border-radius: 2px;
}
@keyframes speed {
  0%
  {
    left:1999px;
  }
  100%
  {
    left:1200px;
  }
}
.ph-facility
{
  margin-top:300px;
  width:100%;
  height: auto;
}
.ph-facility-main
{
  width:90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.ph-facility-header
{
  width:300px;
  font-size: 30px;
  font-family: calibri;
  font-weight: lighter;
  left:50px;
  font-style: italic;
}
.ph-facility-first
{
  width: 100%;
  display: flex;
}
.ph-facility-first-description
{
  display: flex;
}
.ph-facility-first-description-account
{
  width: 48px;
  height: 48px;
  position: relative;
  top:150px;
}
.ph-facility-first-description-account-title
{
  width:158px;
  position: relative;
  left:-10px;
  font-family: segoe UI;
  font-size: 16px;
  color:black;
}
.ph-facility-first-description-like
{
  width:48px;
  height: 48px;
  position: relative;
  top:150px;
  left:100px;
}
.ph-facility-first-description-like-title
{
  width:48px;
  position: relative;
  left:10px;
  font-family: segoe UI;
  font-size: 16px;
  color:black;
}
.ph-facility-first-description-no-download
{
  width:48px;
  height: 48px;
  position: relative;
  top:150px;
  left:210px;
}
.ph-facility-first-description-no-download-title
{
  width:108px;
  position: relative;
  left:-20px;
  font-family: segoe UI;
  font-size: 16px;
  color:black;
}
.ph-facility-first-description-upload
{
  width:48px;
  height: 48px;
  position: relative;
  top:150px;
  left:320px;
}
.ph-facility-first-description-upload-title
{
  width:108px;
  position: relative;
  left:-18px;
  font-family: segoe UI;
  font-size: 16px;
  color:black;
}
.ph-facility-first-description-notification
{
  width:48px;
  height: 48px;
  position: relative;
  top:150px;
  left:430px;
}
.ph-facility-first-description-notification-title
{
  width:108px;
  position: relative;
  left:-20px;
  font-family: segoe UI;
  font-size: 16px;
  color:black;
}
.ph-facility-first-image
{
  position: relative;
  top:50px;
  width:400px;
  height: 300px;
  margin-left: auto;
  transform: scale(1.1);
}
.ph-creator
{
  width: 100%;
  height: auto;
  display: block;
  height: 150px;
  position: relative;
  top:200px;

}
.ph-creator-main
{
  width:80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.ph-creator-head
{
  width: 160px;
  height: 100px;
}
.ph-creator-head-description
{
  position: relative;
  top:45px;
  left:20px;
  font-family: roboto, sans-serif;
  font-size: 18px;
  color:black;
}
@media screen and (max-width:880px) and (min-width:600px){
  .ph-followon
  {
  margin-top: -50px;
  }
  .ph-followon-main
  {
    position: relative;
    top:220px;
    left:25px;

  }
  .ph-followon-facebook > svg
  {
    width:40px;
    height: 40px;
  }
  .ph-followon-google-plus > svg
  {
    width:40px;
    height: 40px;
  }
  .ph-followon-twitter > svg
  {
    width:40px;
    height: 40px;
  }
}
@media screen and (max-width:599px) {
  .ph-followon-main
  {
    position: relative;
    top:400px;
    left:45%;
    right:50%;
    transform: translate(-50%,-50%);
  }
  .ph-followon-twitter > svg
{
  width:30px;
  height: 30px;
}
.ph-followon-facebook > svg
{
width:30px;
height: 30px;
}
.ph-followon-google-plus > svg
{
width:30px;
height: 30px;
}
}
.ph-lastspace
{
  width:100%;
  height: 200px;
  position: relative;
  top:360px;
}
.ph-love
{
  font-family: Grand hotel;
  font-size: 30px;
  color:black;
  position: relative;
  top:500px;
  left:-25px;
}
.ph-love-tagline
{
  font-family: roboto;
  font-size: 12px;
  color:grey;
  position: relative;
  top:510px;
  left:-18px;
}
@media screen and (max-width:600px) {
  .ph-love
  {
    left:0px;
    top:0px;
    font-size: 25px;
  }
}
.ph-love-icon
{
  position: relative;
  top:-28px;
  left:100px;
}
#home
{
/*  display: none; */

}
#signup
{
  width: 100%;
  height: auto;
  display: none;

}
.ph-signup-main
{
  width:400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;
  display: block;
}
.ph-signup-fname
{
  margin-top: 30px;
  margin-left: 0px;
}
.ph-signup-lname
{
  margin-top: 15px;
  margin-left: 0px;
}
.ph-signup-email
{
  margin-top: 15px;
  margin-left: 0px;
}
.ph-signup-bdate
{
  margin-top: 15px;
  margin-left: 0px;
}
.ph-signup-uname
{
  margin-top: 15px;
  margin-left: 0px;
}
.ph-signup-pass
{
  margin-top: 15px;
  margin-left: 0px;
}
#signin
{
  width: 100%;
  height: auto;
  display: none;
}
.ph-signin-main
{
  width:400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.ph-signup-button
{
  width:96px;
  height: 40px;
  border: none;
  background-color: #4285f4;
  color:white;
  font-size: 14px;
  font-family: roboto;
  border-radius: 3px;
  margin-top: 50px;
}
.ph-signup-button:hover
{
  background: orange;
  box-shadow: 0px 2px 5px grey;
}
.ph-signin-email
{
  margin-top: 30px;
  margin-left: 10px;
}
.ph-signin-password
{
  margin-top: 20px;
  margin-left: 10px;
}
.ph-signin-button
{
    width:96px;
    height: 40px;
    border: none;
    background-color: #4285f4;
    color:white;
    font-size: 14px;
    font-family: roboto;
    border-radius: 3px;
    margin-left: 150px;
    margin-top: 50px;
}
.ph-signin-button:hover
{
  background: #2962ff;
  box-shadow: 0px 2px 5px grey;
}
.ph-signin-text
{

  font-size: 22px;
  color:black;
  width:150px;
  margin-left: 25px;
  font-family: roboto;
}
.ph-signup-text
{
  font-family: roboto;
  font-size: 22px;
  color:black;
  width:150px;
  margin-left: 25px;
}
.ph-signin-filling
{
  width: 100%;
  display: block;
}
.ph-signup-filling
{
  width: 100%;
  display: block;
  margin-top: 30px;
  margin-left: 10px;
}
.ph-textbox
{
  width:270px;
    background-color: white;
    border: hidden;
    outline-style: none;
    padding: 10px;
    font-family: roboto;
    font-size: 16px;
    padding-left: 20px;
}
.ph-followon
{
  width: 100%;
  position: relative;
  top:350px;
}
.ph-followon-main
{
  width:300px;
  height: 100px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.ph-followon-facebook
{
  width: 100px;
  height: 50px;
}
.ph-followon-google-plus
{
  margin-top: 0px;
  width: 100px;
  height: 50px;
}
.ph-followon-twitter
{
  width: 100px;
  height: 50px;
}
.line
{
visibility: hidden;
width: 270px;
height: 2px;
margin-top: 0px;
animation: bigger 1s;
margin-left: auto;
margin-right: auto;
position: relative;
left:-50px;
}
@keyframes bigger {
  0%
  {
    width:0px
  }
  100%
  {
    direction: ltr;
    width:270px;
  }
}
.ph-textbox:focus +.line
{
width:270px;
background-color:  #4285F4;
visibility: visible;
animation: di 500ms;


margin-top: 0;


}
@keyframes di {
  0%
  {

    width:0;
    background-color: #4285F4;
  }
  50%
  {
    background-color: #FBBC05;
  }
  100%
  {
    width:270px;
    background-color: #EA4335;
  }
}

@media screen and (max-width:380px) {
  .ph-features-heading
  {
    left:0;
  }

  .ph-features-line
  {
    left:0;
  }
  .ph-features-image
  {
    width: 300px;
  }
  .ph-features-intigrity
  {
    display: none;
  }
  .ph-facility-header
  {
    left:0;
  }
  .ph-facility-line
  {
    left:0;
  }
}
@media screen and (max-width:780px) {
  .ph-love
  {
    top:700px;
  }
  .ph-lastspace
  {
    top:520px;
  }
  .ph-love-tagline
  {
    top:710px;
    left:px;
  }
}

@media screen and (max-width:500px) {
  .ph-love
  {
    top:700px;

  }
  .ph-lastspace
  {
    top:520px;
  }
  .ph-love-tagline
  {
    top:710px;
    left:0px;
  }
  .ph-love-icon
  {
    display: none;
  }
}
@media screen and (max-width:800px) and (min-width:471px) {
  .ph-creator
  {
    width: 100%;
    height: auto;
    display: block;
    height: 150px;
    position: relative;
    top:300px;
    padding-left: 20px;
    padding-top:50px;

  }
  .ph-creator-main
  {
    margin-left: 0;
    margin-right: 0;
  }
  .ph-creator-head
  {
    width:150px;
  }
}
@media screen and (max-width:470px) {
  .ph-creator
  {
    width: 100%;
    height: auto;
    display: block;
    height: 150px;
    position: relative;
    top:650px;
    padding-top:50px;

  }
  .ph-creator-head
  {
    position: relative;
    top:10px;
    width:130px;
    height: 80px;
  }
  .ph-creator-head-description
  {
    font-size: 12px;
  }
  .ph-creator-main
  {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width:380px) {
  .ph-creator-head-description
  {
    font-size: 14px;
  }
}
@media screen and (max-width:1240px) and (min-width:1001px) {
  .ph-facility-first
  {
    display: block;
  }
  .ph-facility-first-image
  {
    position: relative;
    left:50%;
    right:50%;
    transform: translate(-50%,-50%);
    top:150px;
  }
  .ph-facility-first-description
  {
    width:500px;
    position: relative;
    left:50%;
    right:50%;
    transform: translate(-50%,-50%);
    top:250px;
  }

}
@media screen and (max-width:1000px) and (min-width:763px) {
  .ph-facility-first-image
  {
    position: relative;
    left:10%;
    top:160px;
    transform: translate(-50%,-50%);
  }
  .ph-facility-first-description
  {
    position: relative;
    top:250px;
  }
}
@media screen and (max-width:762px) and (min-width:718px) {
  .ph-facility-first-description
{
  display: flex;
  flex-wrap: wrap;
}
  .ph-facility-first-description
  {
    position: relative;
    top:300px;
  }
}
@media screen and (max-width:717px) and (min-width:671px) {
  .ph-facility-first-image
  {
    position: relative;
    left:-250px;
  }
  .ph-facility-first-description
  {
    width: 500px;
    position: relative;
    top:300px;
  }
  .ph-facility-first-description-notification
  {
    position: relative;
    top:320px;
    left:0;
  }
}
@media screen and (max-width:670px) and (min-width:451px){
  .ph-facility-first-image
  {
    position: relative;
    left:-250px;
  }
  .ph-facility-first-description
  {
    width: 500px;
    position: relative;
    top:300px;
  }
  .ph-facility-first-description-notification
  {
    position: relative;
    top:320px;
    left:0;
  }
  .ph-facility-first-description-upload
  {
    position: relative;
    top:320px;
    left:-120px;
  }
}
@media screen and (max-width:450px) and (min-width:351px) {
  .ph-facility-first-image
  {
    position: relative;
    left:-220px;
    width:300px;
    height: 200px;
  }
  .ph-facility-first-description
  {

    width: 500px;
    position: relative;
    top:200px;
    left:80px;
  }
  .ph-facility-first-description-notification
  {
    position: relative;
    top:320px;
    left:-50px;
  }
  .ph-facility-first-description-upload
  {
    position: relative;
    top:320px;
    left:-140px;
  }
  .ph-facility-first-description-no-download
  {
    position: relative;
    top:500px;
    left:0px;
  }
}
@media screen and (max-width:350px) {
  .ph-facility-header
{
  position: relative;
  top:100px;
  left:0;
}
.ph-facility-line
{
  position: relative;
  top:130px;
  left:0px;
}
  .ph-facility-first-image
  {
    position: relative;
    top:150px;
    left:-270px;
    width:300px;
    height: 200px;
  }
  .ph-facility-first-image
  {
    position: relative;
    left:-250px;
    width:300px;
    height: 200px;
  }
  .ph-facility-first-description
  {

    width: 500px;
    position: relative;
    top:250px;
    left:50px;
  }
  .ph-facility-first-description-notification
  {
    position: relative;
    top:320px;
    left:-50px;
  }
  .ph-facility-first-description-upload
  {
    position: relative;
    top:320px;
    left:-140px;
  }
  .ph-facility-first-description-no-download
  {
    position: relative;
    top:500px;
    left:0px;
  }



}
@media screen and (max-width:1200px) {
  .ph-features-intigrity
  {
    top:650px;
    left:70%;
    animation: top 1s;
  }
  .ph-love-icon
  {
    display: none;
  }

.ph-features-speed
{
  top:500px;
left:55%;
animation:top 1s;
}
.ph-features-encryption
{
  animation: top 1s;
  top:600px;
  left:30%;
}
.ph-features-security
{
  top:550px;
  animation: top 1s;
  left:100px;
}
}
@media screen and (max-width:886px) {
  .ph-features-security
  {
    left:0px;
  }
  .ph-features-encryption
  {
    left:160px;
  }
}
@media screen and (max-width:600px) {
  .ph-features-encryption
  {

    left:100px;
    top:650px;
  }
  .ph-features-security
  {
    width: 100px;
    left:100px;
  }
  .ph-features-intigrity
  {
    width: 150px;
    top:700px;
  }

}
@media screen and (max-width:500px) and (min-width:380px) {
  .ph-features-encryption
  {
    left:10px;
  }
  .ph-features-intigrity
  {
    left:220px;
  }
}
@media screen and (max-width:379px) {
  .ph-features-encryption
  {
    left:10px;
  }
  .ph-features-security
  {
    left:50px;
  }
  .ph-features-intigrity
  {
    left:200px;
  }
}
/* FEEDBACK */
@media screen and (max-width:465px) and (min-width:403px){
.ph-feedback-main
{
  width:402px;
}
}
@media screen and (max-width:402px) and (min-width:340px) {
  .ph-feedback-main
  {
    width:300px;
  }
  .ph-features-image
  {
    width:340px;
  }
}
@media screen and (max-width:1000px) {

  .ph-searchbar-text
  {
    display: none;
  }
  .ph-open-searchbar
  {
    width:78%;
    margin-left: 5px;
  }
  .ph-searchbar-outer
  {
    margin-left: 0;
    width:100%;
    display: inline-block;
  }
  .ph-open-searchbutton
  {
    width:50px;
    margin-left: 20px;
  }
  .ph-close-button
  {
    width: 5%;
    padding-left: 39px;
  }

}
@media screen and (max-width:720px) {
  .ph-close-button
  {
    padding-left: 0px;
  }
}
@media screen and (max-width:590px) {
  .ph-open-searchbutton
  {
  margin-left: 10px;
  }
}
@media screen and (max-width:580px) {
  .ph-open-searchbar
  {
    width:72%;
  }
  .ph-close-button
  {
    padding-left: 25px;
  }
}
@media screen and (max-width:530px) {
  .ph-open-searchbar
  {
    width:70%;
  }
}
@media screen and (max-width:440px) {
  .ph-open-searchbar
  {
    width:65%;
  }
}
@media screen and (max-width:370px) {
  .ph-open-searchbar
  {
    width:60%;
  }
}
@media screen and (max-width:330px) {
  .ph-sidebar
  {
    position:relative;
    left:30px;
  }
  .ph-sidebar-inner
  {
    margin-left: -90px;
  }
  .ph-sidebar-eventbutton
  {
    width: 42px;
    height: 42px;
  }
  .ph-sidebar-feedbackbutton
  {
    width: 42px;
      height: 42px;
  }
  .ph-sidebar-helpbutton
  {
    width: 42px;
      height: 42px;
  }
  .ph-sidebar-searchbutton
  {
    width: 42px;
      height: 42px;
  }
}
@media screen and (max-width:420px) and (min-width:330px) {
  .ph-heading-text
  {
    margin-left: 30px;
    margin-top: 15px;
    animation: guru 1s;
  }
  @keyframes guru {
    0%
    {
      margin-left: 0px;
    }
    100%
    {
      margin-left: 30px;
    }
  }
  .ph-sidebar
  {
    position: relative;
    left: 20px;
  }
  .ph-sidebar-inner
  {
  margin-left:-90px;

  }
  .ph-sidebar-eventbutton
  {
    width: 48px;
    height: 48px;
    outline-style: none;
  }
  .ph-sidebar-feedbackbutton
  {
    width: 48px;
      height: 48px;
      outline-style: none;
  }
  .ph-sidebar-helpbutton
  {
    width: 48px;
      height: 48px;
      outline-style: none;
  }
  .ph-sidebar-searchbutton
  {
    width: 48px;
      height: 48px;
      outline-style: none;
  }
}
@media screen and (max-width:520px) and (min-width:501px) {
  .ph-sidebar
  {
    position:relative;
    left:20px;
  }
  .ph-sidebar-inner
  {
    margin-left: -50px;
  }
}
@media screen and (max-width:500px) and (min-width:411px) {
  .ph-heading-text
  {
    margin-top: 14px;
  }
  .ph-sidebar
  {
    position: relative;
    left:20px;
  }
  .ph-sidebar-inner
  {
    margin-left: -25px;
  }
  .ph-sidebar-eventbutton
  {
    width: 50px;
      height: 50px;
      outline-style: none;
  }
  .ph-sidebar-feedbackbutton
  {
    width: 50px;
    height: 50px;
      outline-style: none;
  }
  .ph-sidebar-helpbutton
  {
    width: 50px;
    height: 50px;
      outline-style: none;
  }
  .ph-sidebar-searchbutton
  {
    width: 50px;
    height: 50px;
      outline-style: none;
  }
}
